
.footer {
  text-align: center;
  color: #AFC7CC;
  background-color: #333333;
  padding: 50px 0px;
}

.fa {
  font-size: 30px;
  margin-bottom: 10px;
  margin-right: 10px;

}

.footer > p {
  font-size: 18px;
  color: #AFC7CC;
}
