<div class="footer">
  <i class="fa fa-facebook"></i>
  <i class="fa fa-twitter"></i>
  <i class="fa fa-instagram"></i>
  <i class="fa fa-youtube"></i>
  <p>This is a Airbnb Home challenge @ LeWagon</p>
</div>
